[Unit]
Description=An Arma 3 server management platform for Linux.

[Service]
Type=simple
ExecStart=athenad
EnvironmentFile=/etc/sysconfig/athenad
StateDirectory=athenad
LogsDirectory=athenad
User=athena
Group=athena

[Install]
WantedBy=multi-user.target
